body {
  line-height: 1.5;
}

.heading-font {
  color: black;
  font-family: "Corben", cursive;
}

.text-font {
  color: black;
  font-family: "Nobile", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  .heading-font;
}

h2,
h4,
h5 p {
  .text-font;
}

a {
  text-decoration: none;
  // &:hover {
  //   text-decoration: underline black;
  // }
}

button {
  border: none;
  padding: 10px;
}

.app-container {
  text-align: center;
}

// Header //
// Header //
.header {
  background-color: black;
  align-items: center;
  padding: 10px;

  h1 {
    color: white;
  }
}

// Store //
// Store //
.store-container {
  margin: 2%;

  .store-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .cart-amount {
      background-color: black;
      color: white;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 900;
      width: 25px;
      position: absolute;
      top: 15%;
      right: 1%;
    }
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
}

// ProductCard //
// ProductCard //
.product-card {
  padding: 40px 60px 40px 60px;
  // text-align: left;

  h4,
  p {
    margin: 5px 0px;
    .text-font;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    transition-duration: 0.25s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// Product //
// Product //
.product-info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: auto; // auto-spaces elements in all directions

  .img-container {
    padding: 10%;
  }

  .desc {
    text-align: left;
  }

  .price-value {
    font-size: 1.2rem;
    font-weight: bold;
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}

// SearchBar //
// SearchBar //

.search-bar {
  text-align: right;
}

// Cart //
// Cart //
.cart-container {

  .cart {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 30px;

    .cart-link {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }

    .cart-nav {
      margin-left: 45px;
    }

    .img-container {
      width: 30%;
    }

    button {
      margin: 11px;
    }
  }
}

// SideBar //
// SideBar //
.sidebar-container {

  background-color: blanchedalmond;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
   transition-property: opacity;
  transition-duration: 0.5s;

   &.hide {
    opacity: 0;
  }
}