body {
  line-height: 1.5;
}

.heading-font {
  color: black;
  font-family: "Playfair Display SC", serif;
}

.text-font {
  color: black;
  font-family: "Arimo", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  .heading-font;
}

h2,
h4,
h5,
p {
  .text-font;
}

a {
  text-decoration: none;
}



button {
  border: solid 2px #1f1f1f;
  background: transparent;
  padding: 10px;
  cursor: pointer;

  &:hover,
  .btn-dark.active {
    border: solid 2px #1f1f1f;
    background: #1f1f1f;
    color: #fff;
  }
}

.app-container {
  text-align: center;
}

// Header //
// Header //

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .shopping-bag {
    position: absolute;
    top: 53%;
  }

  .fa-shopping-bag {
    color: white;
  }

  .cart-amount {
    font-family: "Playfair Display SC", serif;
    background-color: black;
    color: white;
    border: solid white 2px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 900;
    position: absolute;
    top: 13%;
    right: -35%;
  }
}

// Store //
// Store //
.store-container {
  margin: 2%;

  .store-nav {
    margin-top: -10%;
    display: flex;
    justify-content: center;

    form {
      padding-right: 25px;
    }

    .dropdown {
        border: none;
    }
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
}

// SearchBar //
// SearchBar //

.fa-search {
  padding-left: 115px;
}

.search-input {
  border-bottom: solid black 2px;
}

// ProductCard //
// ProductCard //
.product-card {
  padding: 80px 60px 10px 60px;

  h4 {
    margin: 5px 0px;
    .heading-font;
  }
  p {
    margin: 5px 0px;
    .text-font;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    transition-duration: 0.25s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

// Product //
// Product //
.product-info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: auto; // auto-spaces elements in all directions

  .img-container {
    padding: 10%;
  }

  .desc {
    text-align: left;
  }

  .price-value {
    font-size: 1.2rem;
    font-weight: bold;
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}


// Cart //
// Cart //
.cart-container {
  .start-shopping {
    .heading-font;
  }

  .cart-total {
    font-size: 1rem;
    font-weight: bold;
  }

  .cart {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 30px;

    .cart-link {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }

    .cart-nav {
      margin-left: 45px;
    }

    .img-container {
      width: 30%;
    }

    button {
      margin: 11px;
    }
  }
}

// SideBar //
// SideBar //
.sidebar-container {
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 10px;
  right: 0;
  width: 40%;
  background-color: lightgreen;
  transition-property: right, opacity;
  transition-duration: 0.5s;

  &.hide {
    right: -100%;
    opacity: 0;
  }

  .sidebar-content {
    background-color: white;
  }

  .sidebar-items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    .sidebar-img {
      width: 30%;
      margin: 30px;
    }
  }
}
