body {
  line-height: 1.5;
}
.heading-font {
  color: black;
  font-family: "Corben", cursive;
  font-size: 2em;
}
.text-font {
  color: black;
  font-family: "Nobile", sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  color: black;
  font-family: "Corben", cursive;
  font-size: 2em;
}
h2,
h4,
h5 p {
  color: black;
  font-family: "Nobile", sans-serif;
}
a {
  text-decoration: none;
}
button {
  border: solid 2px #1f1f1f;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}
button:hover,
button .btn-dark.active {
  border: solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;
}
.app-container {
  text-align: center;
}
.header {
  background-color: black;
  align-items: center;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.header .fa-shopping-bag {
  color: white;
  align-items: right;
}
.header .cart-amount {
  background-color: lightgrey;
  color: black;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 900;
  width: 25px;
  position: absolute;
  top: 6%;
  right: 1%;
}
.header h1 {
  color: white;
}
.store-container {
  margin: 2%;
}
.store-container .store-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.store-container .product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 720px) {
  .store-container .product-container {
    grid-template-columns: 1fr;
  }
}
.product-card {
  padding: 80px 60px 10px 60px;
}
.product-card h4,
.product-card p {
  margin: 5px 0px;
  color: black;
  font-family: "Nobile", sans-serif;
}
.product-card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition-duration: 0.25s;
}
.product-card:hover img {
  transform: scale(1.1);
}
.product-info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: auto;
}
.product-info .img-container {
  padding: 10%;
}
.product-info .desc {
  text-align: left;
}
.product-info .price-value {
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .product-info {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}
.search-bar {
  text-align: right;
}
.cart-container .start-shopping {
  color: black;
  font-family: "Corben", cursive;
  font-size: 2em;
}
.cart-container .cart-total {
  text-align: right;
  padding-right: 80px;
  font-size: 1rem;
  font-weight: bold;
}
.cart-container .cart {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 30px;
}
.cart-container .cart .cart-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.cart-container .cart .cart-nav {
  margin-left: 45px;
}
.cart-container .cart .img-container {
  width: 30%;
}
.cart-container .cart button {
  margin: 11px;
}
.sidebar-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  background-color: lightgreen;
  transition-property: right, opacity;
  transition-duration: 0.5s;
}
.sidebar-container.hide {
  right: -100%;
  opacity: 0;
}
.sidebar-container .sidebar-content {
  background-color: white;
}
.sidebar-container .sidebar-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.sidebar-container .sidebar-items .sidebar-img {
  width: 30%;
  margin: 30px;
}
