.heading-font {
  font-family: "Corben", cursive;
}
.text-font {
  font-family: "Nobile", sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  font-family: "Corben", cursive;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app-container {
  margin: 5%;
  text-align: center;
}
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-list img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.product-card {
  padding: 40px;
  max-width: 100%;
}
.product-card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
}
.product-info img {
  width: 50%;
}
.product-info .desc {
  text-align: left;
}
.search-bar {
  text-align: right;
}
